# Dependencies
node_modules
*/node_modules

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env*.local
*/env
*/.env.*

# Build outputs
dist
build
*/dist
*/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.out

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
